#!/usr/bin/make -f

export DH_VERBOSE=1
export DH_OPTIONS
# drop the assert()'s out
CFLAGS = -DNDEBUG -g
export CFLAGS
export PREFIX=/usr

.PHONY: override_dh_strip override_dh_auto_test

override_dh_strip:
	dh_strip --dbg-package=libhiredis0.13-dbg

override_dh_auto_test:
	# noop

%:
	dh $@ 
