[Unit]
Description=Bolo PostgresSQL Subscriber daemon
Documentation=man:bolo2pg(8)
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/bolo2pg
ExecStart=/usr/sbin/bolo2pg $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/bolo2pg.pid
KillMode=process
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
